In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns 
from datetime import datetime,timedelta
import yfinance as yf 
from nselib import capital_market 
import os 
from lightweight_charts import Chart
import vectorbt as vbt 
from tabulate import tabulate 
import tqdm as tqdm 
import talib as ta 
import time 
sns.set_style('darkgrid')
plt.style.use('ggplot')

In [2]:
os.getcwd()
if not os.path.exists("data"):
    os.mkdir('data')
else:
    print("Folder present")

Folder present

In [6]:
#getting All symbols
nifty_50=capital_market.nifty50_equity_list()['Symbol']
a=[[i] for i in nifty_50]
head=['index','symbols']
nf=[['ayush'],['motusu'],['harshit'],['nani'],['mami']]
print(tabulate(a, headers=head, tablefmt="fancy_grid",showindex=True))

╒═════════╤════════════╕
│   index │ symbols    │
╞═════════╪════════════╡
│       0 │ ADANIENT   │
├─────────┼────────────┤
│       1 │ ADANIPORTS │
├─────────┼────────────┤
│       2 │ APOLLOHOSP │
├─────────┼────────────┤
│       3 │ ASIANPAINT │
├─────────┼────────────┤
│       4 │ AXISBANK   │
├─────────┼────────────┤
│       5 │ BAJAJ-AUTO │
├─────────┼────────────┤
│       6 │ BAJFINANCE │
├─────────┼────────────┤
│       7 │ BAJAJFINSV │
├─────────┼────────────┤
│       8 │ BPCL       │
├─────────┼────────────┤
│       9 │ BHARTIARTL │
├─────────┼────────────┤
│      10 │ BRITANNIA  │
├─────────┼────────────┤
│      11 │ CIPLA      │
├─────────┼────────────┤
│      12 │ COALINDIA  │
├─────────┼────────────┤
│      13 │ DIVISLAB   │
├─────────┼────────────┤
│      14 │ DRREDDY    │
├─────────┼────────────┤
│      15 │ EICHERMOT  │
├─────────┼────────────┤
│      16 │ GRASIM     │
├─────────┼────────────┤
│      17 │ HCLTECH    │
├─────────┼────────────┤
│      18 │ HDFCBANK   │
├─────────┼────────────┤
│      19 │ HDFCLIFE   │
├─────────┼────────────┤
│      20 │ HEROMOTOCO │
├─────────┼────────────┤
│      21 │ HINDALCO   │
├─────────┼────────────┤
│      22 │ HINDUNILVR │
├─────────┼────────────┤
│      23 │ ICICIBANK  │
├─────────┼────────────┤
│      24 │ ITC        │
├─────────┼────────────┤
│      25 │ INDUSINDBK │
├─────────┼────────────┤
│      26 │ INFY       │
├─────────┼────────────┤
│      27 │ JSWSTEEL   │
├─────────┼────────────┤
│      28 │ KOTAKBANK  │
├─────────┼────────────┤
│      29 │ LTIM       │
├─────────┼────────────┤
│      30 │ LT         │
├─────────┼────────────┤
│      31 │ M&M        │
├─────────┼────────────┤
│      32 │ MARUTI     │
├─────────┼────────────┤
│      33 │ NTPC       │
├─────────┼────────────┤
│      34 │ NESTLEIND  │
├─────────┼────────────┤
│      35 │ ONGC       │
├─────────┼────────────┤
│      36 │ POWERGRID  │
├─────────┼────────────┤
│      37 │ RELIANCE   │
├─────────┼────────────┤
│      38 │ SBILIFE    │
├─────────┼────────────┤
│      39 │ SBIN       │
├─────────┼────────────┤
│      40 │ SUNPHARMA  │
├─────────┼────────────┤
│      41 │ TCS        │
├─────────┼────────────┤
│      42 │ TATACONSUM │
├─────────┼────────────┤
│      43 │ TATAMOTORS │
├─────────┼────────────┤
│      44 │ TATASTEEL  │
├─────────┼────────────┤
│      45 │ TECHM      │
├─────────┼────────────┤
│      46 │ TITAN      │
├─────────┼────────────┤
│      47 │ UPL        │
├─────────┼────────────┤
│      48 │ ULTRACEMCO │
├─────────┼────────────┤
│      49 │ WIPRO      │
╘═════════╧════════════╛

In [12]:
class download_symb:
    def __init__(self,symbol):
        self.symbol=symbol
    def symb(self):
        end_date=datetime.now().date()
        start_date=end_date-timedelta(days=7)
        try:
            data_sym=yf.download(f'{self.symbol}.NS',start=start_date,end=end_date,interval="5m")
            self.data=data_sym.to_parquet(f'data/{self.symbol}.parquet')
            self.data=pd.read_parquet(f'data/{self.symbol}.parquet')            
        except Exception as e:
            print("File not downloaded")
        return(self.data)

In [17]:
data=download_symb(nifty_50[0])
data.symb()

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2024-02-22 09:15:00+05:30,3234.000000,3242.949951,3220.000000,3236.899902,3236.899902,0
2024-02-22 09:20:00+05:30,3237.199951,3240.000000,3230.300049,3231.050049,3231.050049,31151
2024-02-22 09:25:00+05:30,3231.899902,3236.000000,3222.050049,3222.350098,3222.350098,32657
2024-02-22 09:30:00+05:30,3223.899902,3226.000000,3218.199951,3220.149902,3220.149902,37320
2024-02-22 09:35:00+05:30,3221.350098,3228.550049,3220.000000,3224.199951,3224.199951,22206
...,...,...,...,...,...,...
2024-02-28 15:05:00+05:30,3227.899902,3235.000000,3225.250000,3226.600098,3226.600098,21974
2024-02-28 15:10:00+05:30,3226.500000,3226.600098,3225.000000,3225.050049,3225.050049,17457
2024-02-28 15:15:00+05:30,3225.199951,3225.449951,3210.250000,3212.000000,3212.000000,59771
2024-02-28 15:20:00+05:30,3211.800049,3216.149902,3207.550049,3211.149902,3211.149902,41908
2024-02-28 15:25:00+05:30,3211.149902,3225.000000,3208.699951,3219.000000,3219.000000,21012